@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.card-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-child{
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Resoponsive shit */
@media screen and (max-width: 1024px) {
  /* project section */
  .project-title {
    font-size: 1rem;
    line-height: 1.5rem;
  }


}
@media screen and (max-width: 900px) {
  /* About Us Section */
  .about-title{
    font-size: 3rem;
    line-height: 1;
  }
}


@media screen and (max-width: 768px) {
  /* About Us Section */
    .about-title{
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  
  /* project section */
  .card-parent{
    display: flex;
    flex-direction: column;
  }

  /* everything */
  .increase-width{
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  /* About Us Section */
    .about-title{
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  
  /* project section */
  .card-parent{
    display: flex;
    flex-direction: column;
  }

  /* everything */
  .increase-width{
    width: 85%;
  }

  .decrease-margin {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 400px ) {
  .increase-width{
    width: 95%;
    min-width: 300px;
  }
}
